{% extends "base.html" %}
{% block content %}

<div class="container" >
  <div class="text-center" >
    <br/>
    <br/>
    <br/>
    <br/>
      <a style="color:maron; font-family: 'Josefin Slab', serif;font-size:3.4em; font-weight: bold;">Uh.. Oh..!<a>
    <br/>
    <br/>
    <a style="color:maron; font-family: 'Josefin Slab', serif;font-size:3.4em; font-weight: bold;">Something happened, we are working on it...!</a>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</div>

 {% endblock %}
